<a href="https://colab.research.google.com/github/sarath-i/Python_Datastructures/blob/main/Python_Datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data structures in python**

## **Topic :List**

**Q1. Create a list of 5 random numbers and print the list.**

In [1]:
import random
numbers = []
for i in range(5):
    num = random.randint(1, 500)
    numbers.append(num)
print("List:", numbers)

List: [250, 387, 68, 135, 13]

**Q2. Insert 3 new values to the list and print the updated list.**

In [2]:
numbers.append(152)
numbers.append(320)
numbers.append(40)
print("Updated list:", numbers)

Updated list: [250, 387, 68, 135, 13, 152, 320, 40]

**Q3. Try to use a for loop to print each element in the list.**

In [3]:
print("Elements in the list:")
for num in numbers:
    print(num)

Elements in the list:
250
387
68
135
13
152
320
40

## **Topic: Dictionary**

**Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.**

In [4]:
person = {
    "name": "John",
    "age": 25,
    "address": "New York"
}
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York'}

**Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.**

In [5]:
person.update({"phone":"1234567890"})
print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## **Topic: Set**

**Q1.Create a set with values 1, 2, 3, 4, and 5.**

In [6]:
a = {1, 2, 3, 4, 5}
print("Set:", a)

Set: {1, 2, 3, 4, 5}

**Q2. Add the value 6 to the set created in Q1.**

In [7]:
a.add(6)
print("Set:", a)

Set: {1, 2, 3, 4, 5, 6}

**Q3. Remove the value 3 from the set created in Q1.**

In [8]:
a.remove(3)
print("Set:", a)

Set: {1, 2, 4, 5, 6}

## **Topic:Tuple**

**Q1. Create a tuple with values 1, 2, 3, and 4**

In [9]:
b = (1, 2, 3, 4)
print("Tuple:", b)

Tuple: (1, 2, 3, 4)

**Q2. Print the length of the tuple created in Q1.**

In [10]:
print("Length of the tuple:", len(b))

Length of the tuple: 4